<section class="dashboard">
  <%= render "dashboard/menu" %>

  <div class="dashboard__content">
    <h3 class="content__title">Earnings</h3>
    <h1 class="content__subtitle">&euro; <%= @total_earned %> on Account</h1>
    <a href="javascript:void(0)" class="button button--ghost content__button">withdrawal</a>
    <div class="content__subject">
      <div class="content__earning">
        <h3 class="earning__title">Current Balance</h3>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; <%= @total_earned %></span>
          <span class="earning__label">On account</span>
        </div>
        <div class="earning__box">
          <i class="earning__icon material-icons">assignment_ind</i>
          <span class="earning__total">&euro; <%= @total_earned %></span>
          <span class="earning__label">Paid out</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="popup">
  <div class="popup__content">
    <h2>Withdrawal</h2>
    <p>You are about to transfer <strong>&euro; <%= @total_earned %></strong> to your paypal account: <strong>paypal@paypal.com</strong></p>
    <div class="popup__actions">
      <a href="javascript:void(0)" class="button button--grey actions__button popup__close">Cancel</a>
      <a href="javascript:void(0)" class="button button--gradient actions__button">withdrawal</a>
    </div>
  </div>
</section>
