<section class="dashboard">
  <%= render "admin/menu" %>

  <div class="dashboard__content">
    <h1>Admin Dashboard</h1>

    <h3>Orders</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Amount</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.user_id %></td>
            <td><%= order.amount %></td>
            <td><%= order.created_at.strftime("%d %b. %Y, %H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
