<%= form_for :charge, url: charges_path do |f| %>
  <h1>Price: &euro; <%= @total_price %></h1>

  <%= f.text_field :card_number, placeholder: "Card Number", class: "" %>
  <%= f.text_field :card_exp_month, placeholder: "Exp. Month", class: "" %>
  <%= f.text_field :card_exp_year, placeholder: "Exp. Year", class: "" %>
  <%= f.text_field :card_cvc, placeholder: "CVC", class: "" %>

  <%= f.submit %>
<% end %>
