<header class="header">
  <div class="header__column">
    <%= link_to root_path do %>
      <%= image_tag("logoCSSmarket.png", class: "header__logo") %>
    <% end %>

    <!-- tablet and higher -->
    <%= link_to "About", "/about", class: "header__link header__link--tablet" %>
    <%= link_to "Sell", new_post_path, class: "header__link header__link--tablet" %>
  </div>
  <div class="header__column">
    <!-- mobile -->
    <%= link_to cart_path, class: "header__link" do %>
      <i class="header__icon material-icons">shopping_cart</i>
      <span class="icon__label"><%= shopping_cart_total %></span>
    <% end %>
    <a href="javascript:void(0)" class="header__link">
      <i class="header__icon header__icon--mobile-menu material-icons">menu</i>
    </a>
    <!-- tablet and higher -->
    <% if current_user %>
      <%= link_to "admin", admin_path, class: "header__link header__link--tablet" if check_user_level(100)  %>
      <%= link_to "dashboard", dashboard_path, class: "header__link header__link--tablet" %>
      <%= link_to "logout", logout_path, class: "header__link header__link--tablet" %>
    <% else %>
      <%= link_to "login/register", login_path, class: "header__link header__link--tablet" %>
    <% end %>

    <%= link_to "cart (#{ shopping_cart_total })", cart_path, class: "button button--gradient header__link--tablet" %>
  </div>
</header>

<section class="overlay"></section>

<nav class="menu">
  <span class="menu__close">
    <i class="menu__icon menu__icon--close material-icons">arrow_forward</i>
  </span>

  <% if check_user_level(0) %>
    <span class="menu__link menu__link--seller">
      <span class="menu__label">Become a seller</span>
      <a href="#" class="button button--white">Start selling</a>
    </span>
  <% elsif !current_user %>
    <span class="menu__link menu__link--seller">
      <span class="menu__label">Become a seller</span>
      <a href="#" class="button button--white">Start selling</a>
    </span>
  <% else %>
    <span class="menu__link menu__link--seller">
      <span class="menu__label">Earnings</span>
      <span class="menu__earnings">&euro; 6832</span>
    </span>
  <% end %>

  <% if check_user_level(100) %>
    <%= link_to admin_path, class: "menu__link" do %>
      <i class="menu__icon material-icons">dashboard</i>
      <span class="menu__label">Admin</span>
    <% end %>
  <% end %>

  <%= link_to post_category_path("buttons"), class: "menu__link #{active_class_for("menu__link--is-active", post_category_path("buttons"))}" do %>
    <i class="menu__icon material-icons">track_changes</i>
    <span class="menu__label">Buttons</span>
  <% end %>

  <%= link_to post_category_path("menus"), class: "menu__link #{active_class_for("menu__link--is-active", post_category_path("menus"))}" do %>
    <i class="menu__icon material-icons">fingerprint</i>
    <span class="menu__label">Menus</span>
  <% end %>

  <%= link_to post_category_path("forms"), class: "menu__link #{active_class_for("menu__link--is-active", post_category_path("forms"))}" do %>
    <i class="menu__icon material-icons">visibility</i>
    <span class="menu__label">Forms</span>
  <% end %>

  <div class="menu__login <% if current_user %>menu__login--flex<% end %>">
    <% if current_user %>
      <%= link_to "dashboard", dashboard_path, class: "menu__link menu__link--extra" %>
      <%= link_to "logout", logout_path, class: "menu__link menu__link--extra" %>
    <% else %>
      <%= link_to "login/register", login_path, class: "menu__link menu__link--extra" %>
    <% end %>
  </div>
</nav>
